<h2>Welcome, <%= @user.username %></h2>
<% @user.tickets.each do |ticket| %>
    Title: <p><%= ticket.title %>
    Date: <p><%= ticket.date %>
    Head-Liner/Main Event: <p><%= ticket.artist %></p>
<% end %> 